<button *ngIf="!userIsAuthenticated" href="https://covid19-global-data.netlify.com/" target="_blank" rel="noopener noreferrer" class="btn btn-green float bg-green">
    <a class="text-white"><i class="fa fa-chart-bar"></i></a>
</button>


<nav class="d-none d-md-none d-lg-block d-xl-block navbar navbar-expand-lg toolbar bg-white">
    <div class="navbar-collapse d-flex justify-content-between bg-white" id="navbarText">

        <div class="navbar-brand text-green d-flex pb-0">
            <div class="h5 ml-2">NCDC-help</div>
        </div>

        <ul *ngIf="userIsAuthenticated" class="navbar-nav ml-auto">

            <li class="px-2">
                <a class="h6 navi-link mb-0" routerLink="/dashboard" routerLinkActive="current">
                    <i class="fa fa-tachometer-alt mr-2"></i>Dashboard
                </a>
            </li>

            <li class="px-2">
                <a class="h6 navi-link mb-0" routerLink="/cases" routerLinkActive="current">
                    <i class="fas fa-head-side-cough mr-2"></i>Cases
                </a>
            </li>

            <li class="px-2">
                <a class="h6 navi-link mb-0" routerLink="/states" routerLinkActive="current">
                    <i class="fas fa-flag mr-2"></i>States
                </a>
            </li>

        </ul>


        <div *ngIf="!userIsAuthenticated" routerLink="/auth" class="h6 mb-0 text-green pointer ml-auto mr-3">
          Login
        </div>

        <div *ngIf="userIsAuthenticated" [matMenuTriggerFor]="menu" class="h4 text-green mb-0 ml-auto mr-3">
            <i class="fa fa-user-circle"></i>
        </div>
        <mat-menu #menu="matMenu" xPosition="before">
            <ng-template matMenuContent>
                <div class="card-body text-center text-mute p-0">
                    <ul class="list-group list-group-flush">
                        <li matRipple (click)="onLogout()"
                            class="list-group-item list-group-item-action pointer h6 px-5 py-3">
                            Logout</li>
                        <li matRipple class="list-group-item list-group-item-action pointer h6 px-5 py-3">
                            About</li>
                    </ul>
                </div>
            </ng-template>
        </mat-menu>

    </div>
</nav>


<nav class="d-sm-block d-lg-none d-xl-none toolbar bg-white">

    <div class="d-flex justify-content-between">
        <div class="navbar-brand text-handy d-flex pb-0 mr-0">
            <div class="h5 text-green">NCDC-help</div>
        </div>

        <div *ngIf="userIsAuthenticated" class="d-flex justify-content-between">
            <a class="h6 navi-link mb-0 p-2 mx-2" routerLink="/dashboard" routerLinkActive="current">
                <i class="fa fa-tachometer-alt"></i>
            </a>
            <a class="h6 navi-link mb-0 p-2 mx-2" routerLink="/cases" routerLinkActive="current">
                <i class="fas fa-head-side-cough"></i>
            </a>
            <a class="h6 navi-link mb-0 p-2 mx-2" routerLink="/states" routerLinkActive="current">
                <i class="fas fa-flag"></i>
            </a>

        </div>

        <div *ngIf="userIsAuthenticated" class="d-flex">
            <div *ngIf="userIsAuthenticated" [matMenuTriggerFor]="menu" class="h4 text-green mb-0 ml-auto mt-1">
                <i class="fa fa-user-circle"></i>
            </div>
            <mat-menu #menu="matMenu" xPosition="before">
                <ng-template matMenuContent>
                    <div class="card-body text-center text-mute p-0">
                        <ul class="list-group list-group-flush">
                            <li matRipple (click)="onLogout()"
                                class="list-group-item list-group-item-action pointer h6 px-5 py-3">
                                Logout</li>
                            <li matRipple class="list-group-item list-group-item-action pointer h6 px-5 py-3">
                                About</li>
                        </ul>
                    </div>
                </ng-template>
            </mat-menu>

        </div>

    </div>

</nav>


<router-outlet></router-outlet>
