<!-- Start Header -->
<header id="mu-header" class="" role="banner">
    <div class="mu-header-overlay">
        <div class="container">
            <div class="mu-header-area">

                <!-- Start Logo -->
                <div class="mu-logo-area">
                    <!-- text based logo -->
                    <a class="mu-logo" href="#">Apex App</a>
                    <!-- image based logo -->
                    <!-- <a class="mu-logo" href="#"><img src="assets/images/logo.png" alt="logo img"></a> -->
                </div>
                <!-- End Logo -->

                <!-- Start header featured area -->
                <div class="mu-header-featured-area">
                    <div class="mu-header-featured-img">
                        <img src="../../../assets/imgs/iphone.png" alt="iphone image">
                    </div>

                    <div class="mu-header-featured-content">
                        <h1>Welcome To <span>Apex App</span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nisi, consectetur odit
                            voluptate labore veniam, neque iure cumque aut recusandae iusto. Aliquid quos vel optio
                            dolore consequuntur accusantium autem quaerat!</p>

                        <div class="mu-app-download-area">
                            <h4>Download The App</h4>
                            <a class="mu-apple-btn" href="#"><i class="fa fa-apple"></i><span>apple store</span></a>
                            <a class="mu-google-btn" href="#"><i class="fa fa-android"></i><span>google play</span></a>
                            <!-- <a class="mu-windows-btn" href="#"><i class="fa fa-windows"></i><span>windows store</span></a> -->
                        </div>

                    </div>
                </div>
                <!-- End header featured area -->

            </div>
        </div>
    </div>
</header>
<!-- End Header -->