<div class="container-fluid mt-5 py-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="text-center mb-5 pl-3">
                <div class="h3 mb-3 text-green">NCDC Help</div>
                <div class="h5 text-mute">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quidem,
                    libero
                    optio
                    dolorum ipsum eius ut deserunt laboriosam eveniet tenetur, non accusantium maiores est voluptate
                    eligendi? Iure rem ullam distinctio enim illum aspernatur, sit aut ad minima, exercitationem
                    sapiente
                    beatae deleniti.</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="d-flex justify-content-center">
                <div class="card handy-card" style="width: 30rem;">
                    <div class="card-header h5 text-green bg-transparent">Check your status</div>
                    <form (submit)="onSubmitQuestionaire(form)" #form="ngForm">
                        <div class="card-body text-muted">
                            <div class="small mb-3">Kindly fill out this form to know if you are at risk of having
                                corona
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input border-success" name="isFever"
                                    id="customControlValidation1" required>
                                <label class="custom-control-label" for="customControlValidation1">Do you have fever?
                                </label>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input border-success" name="isCough"
                                    ngModel id="customControlValidation1">
                                <label class="custom-control-label" for="customControlValidation1">Do you have
                                    cough?</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input border-success" name="isBreathing"
                                    id="customControlValidation1" required>
                                <label class="custom-control-label" for="customControlValidation1">Do you have
                                    difficulty breathing?</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input border-success" name="isGotoCountry"
                                    id="customControlValidation1" required>
                                <label class="custom-control-label" for="customControlValidation1">Do you have a travel
                                    history to a COVID-19 infected country or countries?
                                </label>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input border-success"
                                    name="isDirectContact" id="customControlValidation1" required>
                                <label class="custom-control-label" for="customControlValidation1">Do you have direct
                                    contact or is taking care of a positive COVID-19 patients?</label>
                            </div>

                        </div>
                        <button type="submit" matRipple class="card-footer btn btn-lg w-100 btn-green">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>