<div class="container-fluid px-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-4 py-1 bg-transparent">
            <li class="breadcrumb-item active h5 mb-0" aria-current="page">Cases
                <span class="ml-2 badge badge-info bg-green">{{ totalCases }}</span>
            </li>
        </ol>
    </nav>
</div>


<!-- <div class="container">
    <form (submit)="onSearch(searchForm)" #searchForm="ngForm">
        <div class="input-group my-1">
            <input type="text" class="form-control form-control-lg rounded-0" name="inputSearch" ngModel
                autocomplete="off" placeholder="Search by Phone Number...">
            <div class="input-group-prepend">
                <button type="submit" matRipple class="btn btn-green">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div> -->

<!-- <div class="container">
    <button class="btn btn-green" (click)="printt('tableP')">Print</button>
</div> -->

<div class="container-fluid my-2">
    <table id="tableP"
        class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl m-0">
        <thead class="bg-green text-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Full Name</th>
                <th scope="col">Status</th>
                <th scope="col">Phone number</th>
                <th scope="col">State</th>
                <th scope="col">LGA</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="bg-white handy-table-body text-muted" *ngIf="cases.length > 0">
            <tr *ngFor="let case of cases">
                <td>{{ case.caseId }}</td>
                <td>{{ case?.registeredAt | date:'mediumDate' }}, {{ case?.registeredAt | date:'shortTime' }}
                </td>
                <td>{{ case.firstname | titlecase }} {{ case.surname | titlecase }}
                </td>
                <td class=" text-center pb-0 pt-2">
                    <span [ngClass]="{'badge-warning':  case?.status  == '1',
                        'badge-info':  case?.status  == '2',
                        'badge-dark bg-handy':  case?.status  == '3', 
                        'badge-primary bg-green':  case?.status  == '4',  
                        'badge-secondary':  case?.status  == '5', 'badge-danger':  case?.status  == '6'}"
                        class="badge badge-pill px-4 py-2 m-0">{{ case?.status |statusFormat }}
                    </span>
                    <!-- <mat-icon class="h6 mb-0 mt-2"> local_shipping</mat-icon> -->
                </td>
                <!-- <td>{{ case.status | statusFormat }}</td> -->
                <td>{{ case.phoneNumber }} </td>
                <td>
                    <a class="text-green" [routerLink]="['/states', case.state]">{{ case.state | stateFormat }}</a>
                </td>
                <td>{{ case.lga | titlecase }} LGA</td>
                <td>{{ case.dateOfBirth | ageCalculate }} year(s) old</td>

                <td class="py-0">
                    <div class="d-flex justify-content-around my-1">
                        <div [matMenuTriggerFor]="menu" matRipple matTooltip="Change case status?"
                            matTooltipPosition="above" class="pointer action-edit p-2">
                            <i class="fa fa-edit"></i>
                        </div>

                        <div (click)="onCaseDetails(case._id)" data-toggle="modal" data-target="#caseDetailsModal"
                            matRipple matTooltip="See case details?" matTooltipPosition="above"
                            class="pointer action-open p-2">
                            <i class="fa fa-paper-plane"></i>
                        </div>

                        <div (click)="onDeleteDialog(case._id)" matRipple class="pointer action-delete p-2"
                            matTooltip="Delete case?" matTooltipPosition="above">
                            <i class="fa fa-trash"></i>
                        </div>

                        <mat-menu #menu="matMenu" xPosition="before">
                            <ng-template matMenuContent>
                                <div class="card-body text-center text-mute p-0">
                                    <ul class="list-group list-group-flush">

                                        <li *ngIf="case.status  != '1'"
                                            (click)="changeStatus(case._id, statusData.isNew)" matRipple matRipple
                                            matTooltip="Change case status?" matTooltipPosition="before"
                                            class="list-group-item list-group-item-action pointer h6 py-3 mb-0">
                                            To New</li>

                                        <li *ngIf="case.status  != '2'"
                                            (click)="changeStatus(case._id, statusData.isContacted)" matRipple matRipple
                                            matTooltip="Change case status?" matTooltipPosition="before"
                                            class="list-group-item list-group-item-action pointer h6 py-3 mb-0">
                                            To Contacted</li>

                                        <li *ngIf="case.status  != '3'"
                                            (click)="changeStatus(case._id, statusData.isConfirmed)" matRipple matRipple
                                            matTooltip="Change case status?" matTooltipPosition="before"
                                            class="list-group-item list-group-item-action pointer h6 py-3 mb-0">
                                            To Confirmed</li>

                                        <li *ngIf="case.status  != '4'"
                                            (click)="changeStatus(case._id, statusData.isQuarantined)" matRipple
                                            matRipple matTooltip="Change case status?" matTooltipPosition="before"
                                            class="list-group-item list-group-item-action pointer h6 py-3 mb-0">
                                            To Quarantined</li>

                                        <li *ngIf="case.status  != '5'"
                                            (click)="changeStatus(case._id, statusData.isNotSick)" matRipple matRipple
                                            matTooltip="Change case status?" matTooltipPosition="before"
                                            class="list-group-item list-group-item-action pointer h6 py-3 mb-0">
                                            To Not Sick</li>

                                        <li *ngIf="case.status  != '6'"
                                            (click)="changeStatus(case._id, statusData.isFake)" matRipple matRipple
                                            matTooltip="Change case status?" matTooltipPosition="before"
                                            class="list-group-item list-group-item-action pointer h6 py-3 mb-0">
                                            To Fake</li>

                                    </ul>
                                </div>
                            </ng-template>
                        </mat-menu>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="lead mt-4 text-muted font-italic d-flex justify-content-center" *ngIf="cases.length <= 0">No
        case added yet</div>
</div>

<div *ngIf="cases.length > 0" class="container-fluid mt-3">
    <mat-paginator class="handy-card handy-border text-small" [length]="totalCases" [pageSize]="casesPerPage"
        [pageSizeOptions]="pageSizeOptions" (page)="onChangePage($event)">
    </mat-paginator>
</div>





<!-- Modal -->
<div class="modal" id="caseDetailsModal" tabindex="-1" role="dialog" aria-labelledby="caseDetailsModalTitle"
    aria-hidden="true">
    <div id="modalP" class="modal-dialog animated zoomIn fast modal-dialog-centered" role="document">
        <div class="modal-content text-muted handy-card">
            <div class="modal-header py-2">

                <div (click)="onCloseModal()" type="button" class="close text-danger" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </div>
            </div>
            <div *ngIf="!case" class="modal-body py-5 px-4">
                <div class="text-center py-5">
                    <div class="spinner-border text-green" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div *ngIf="case" class="modal-body">
                <div class="text-center pt-2 pb-3">
                    <!-- <div class="d-flex justify-content-center">
                        <ngx-avatar size="50" name="{{ case?.firstname }}
                        {{ case?.surname }}">
                        </ngx-avatar>
                    </div> -->
                    <div class="h5 text-green">{{ case?.firstname | titlecase }}
                        {{ case?.surname | titlecase }}
                    </div>

                    <div class="text-small text-danger">Id: {{ case?.caseId }}</div>
                </div>

                <hr class="m-0">
                <dl class="row mb-0 pb-0">
                    <dt class="col-5 text-small text-mute text-right mt-1 pl-4">Registered at</dt>
                    <dd class="col-7">
                        <div class="text-small mb-0 mt-1">
                            {{ case?.registeredAt | date:'longDate' }} at {{ case?.registeredAt | date:'mediumTime' }}
                        </div>
                    </dd>
                </dl>
                <hr class="m-0">
                <dl class="row mb-0 pb-0">
                    <dt class="col-5 text-small text-mute text-right mt-2 pl-4">Status</dt>
                    <dd class="col-7 my-1">
                        <div>
                            <span [ngClass]="{'badge-warning':  case?.status  == '1',
                'badge-info':  case?.status  == '2',
                'badge-dark bg-handy':  case?.status  == '3', 
                'badge-primary bg-green':  case?.status  == '4',  
                'badge-secondary':  case?.status  == '5', 'badge-danger':  case?.status  == '6'}"
                                class="badge badge-pill px-4 py-2 m-0">{{ case?.status |statusFormat }}
                            </span>
                        </div>
                    </dd>
                </dl>
                <hr class="m-0">
                <dl class="row mb-0 pb-0">
                    <dt class="col-5 text-small text-mute text-right mt-1 pl-4">Phone number</dt>
                    <dd class="col-7">
                        <div class="text-small mb-0 mt-1">
                            {{ case?.phoneNumber }}
                        </div>
                    </dd>
                </dl>
                <hr class="m-0">
                <dl class="row mb-0 pb-0">
                    <dt class="col-5 text-small text-mute text-right mt-1 pl-4">Date added</dt>
                    <dd class="col-7">
                        <div class="text-small mb-0 mt-1">
                            {{ case.state | stateFormat }} </div>
                    </dd>
                </dl>
                <hr class="m-0">
                <dl class="row mb-0 pb-0">
                    <dt class="col-5 text-right">
                        <div class="text-small text-mute mt-1 pl-4">LGA</div>
                    </dt>
                    <dd class="col-7">
                        <div class="text-small mb-0 mt-1">
                            {{ case.lga | titlecase }} Local Government
                        </div>
                    </dd>
                </dl>
                <hr class="m-0">
                <dl class="row mb-0 pb-0">
                    <dt class="col-5 text-right">
                        <div class="text-small text-mute mt-1 pl-4">Age</div>
                    </dt>
                    <dd class="col-7">
                        <div class="text-small mb-0 mt-1">
                            {{ case.dateOfBirth | ageCalculate }} year(s) old
                        </div>
                    </dd>
                </dl>
                <hr class="m-0">
                <dl class="row mb-0 pb-0">
                    <dt class="col-5 text-right">
                        <div class="text-small text-mute mt-1 pl-4">Address</div>
                    </dt>
                    <dd class="col-7">
                        <div class="text-small mb-0 mt-1">
                            {{ case.address }}
                        </div>
                    </dd>
                </dl>
                <hr class="m-0">
                <dl class="row mb-0 pb-0">
                    <dt class="col-5 text-right">
                        <div class="text-small text-mute mt-1 pl-4">Symptoms</div>
                    </dt>
                    <dd class="col-7">
                        <div class="text-small mb-0 mt-1">
                            {{ case.symptoms }}
                        </div>
                    </dd>
                </dl>
                <hr *ngIf="printDateTime" class="m-0">
                <dl *ngIf="printDateTime" class="row mb-0 pb-0">
                    <dt class="col-5 text-right">
                        <div class="text-small text-mute mt-1 pl-4">Printed At</div>
                    </dt>
                    <dd class="col-7">
                        <div class="text-small mb-0 mt-1">
                            {{ printDateTime | date:'longDate' }} at {{ printDateTime | date:'mediumTime' }}
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="modal-footer px-5">
                <div *ngIf="printMode" class="d-flex p-0 m-0">
                    <div (click)="onPrintIMG('modalP')" class="h6 mb-0 px-3 text-green pointer">As Image</div>
                    <div (click)="onPrintPDF('modalP')" class="h6 mb-0 px-3 text-green pointer">As PDF</div>
                    <div (click)="onFooterMode()" class="h6 mb-0">
                        <i class="fa fa-times ml-5 text-danger pointer"></i>
                    </div>

                </div>
                <div *ngIf="!printMode" (click)="onFooterMode()" class="h6 p-0 m-0 action-edit pointer">
                    <i class="fa fa-print"></i>
                </div>

            </div>
        </div>
    </div>
</div>