<div class="container-fluid px-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-4 py-1 bg-transparent">
            <li class="breadcrumb-item active h5 mb-0" aria-current="page">Cases
                <span class="ml-2 badge badge-info bg-green">{{ totalCases }}</span>
            </li>
        </ol>
    </nav>
</div>


<!-- <div class="container">
    <form (submit)="onSearch(searchForm)" #searchForm="ngForm">
        <div class="input-group my-1">
            <input type="text" class="form-control form-control-lg rounded-0" name="inputSearch" ngModel
                autocomplete="off" placeholder="Search by Phone Number...">
            <div class="input-group-prepend">
                <button type="submit" matRipple class="btn btn-green">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div> -->

<!-- <div class="container">
    <button class="btn btn-green" (click)="printt('tableP')">Print</button>
</div> -->
<div class="container-fluid my-3">
    <app-case-list [cases]="cases"></app-case-list>
</div>

<div *ngIf="cases.length > 0" class="container-fluid mt-3">
    <mat-paginator class="handy-card handy-border font-weight-bold text-small" [length]="totalCases" [pageSize]="casesPerPage"
        [pageSizeOptions]="pageSizeOptions" (page)="onChangePage($event)">
    </mat-paginator>
</div>