
<div class="container-fluid">
    <div class="row px-3">
        <div class="card col-12 mt-3 mb-2 handy-card">
            <div class="card-body p-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 bg-transparent">
                        <li class="breadcrumb-item active h5 mb-0 mt-1 ml-2">Dashboard
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card handy-card my-2">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea enim incidunt quis temporibus qui.
                </div>
            </div>
        </div>

    </div>
</div>