<div class="container-fluid px-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-3 py-0 bg-transparent">
            <li class="breadcrumb-item active h5 mb-0" aria-current="page">States
                <span class="ml-2 badge badge-info bg-green">{{ totalStates }}</span>
            </li>
        </ol>
    </nav>
</div>


<div class="container-fluid">
    <div class="row">
        <div *ngFor="let state of states" class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
            <a [routerLink]="['/states', state.alias]" class="card handy-card handy-border text-center my-2">
                <div class="card-body px-0 py-4">
                    <div class="h6 mb-0 text-green">{{ state.state | titlecase }}</div>
                </div>
            </a>
        </div>
    </div>
</div>